<div class="content">
  <style>
      input[type="checkbox"]:disabled {
          background: gray;
      }
  </style>
    <form method="post" action="{{ update_settings_url }}" id="form_notification_settings">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <div id="config">
            {% if email_enabled %}
                {% set header = "Notification/Email Settings" %}
            {% else %}
                {% set header = "Notification Settings" %}
            {% endif %}
            <div class="header">
                <h1>{{ header }}</h1>
                {# When adding a new notification setting make sure to add the notification-setting-input or the email-setting-input #}
                <div class="button-group">
                    <div class="button-row">
                        <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".notification-setting-input" onclick="checkAll(this)">Subscribe to all notifications</button>
                        <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".notification-setting-input" onclick="unCheckAll(this)">Unsubscribe from all optional notifications</button>
                        <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".notification-setting-input" onclick="resetNotification(this)">Reset notification settings</button>
                    </div>
                    {% if email_enabled %}
                        <div class="button-row">
                            <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".email-setting-input" onclick="checkAll(this)">Subscribe to all emails</button>
                            <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".email-setting-input" onclick="unCheckAll(this)">Unsubscribe from all optional emails</button>
                            <button type="button" class="notification-setting-button btn btn-default key_to_click" tabindex="0" data-selector=".email-setting-input" onclick="resetNotification(this)">Reset email settings</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="heading col-md-4"></div>
                <div class="heading col-md-3">
                    <h2>Notification Settings</h2>
                </div>
                {% if email_enabled %}
                    <div class="heading col-md-5">
                        <h2>Email Settings</h2>
                    </div>
                {% endif %}
            </div>


            {% for section in settings %}

                <div class="heading">
                    <h2>{{section['header']}}</h2>
                    <hr>
                </div>
                {% for option in section['options'] %}
                    <div class="option row">
                        <div class="option-desc col-md-4">
                            <span>
                                <span class="option-title">{{option['title']}}</span>
                                <br>
                                <span class="option-alt">{{option['description']}}</span>
                            </span>
                        </div>
                        <div class="option-input col-md-3 notification-setting-input"><input type="checkbox" aria-label="Notification {{option['title']}}" name="{{option['key']}}" id="{{option['key']}}"
                            {% if option['disabled'] %}
                                disabled checked
                            {% elseif notification_saves[option['key']] %}
                                checked
                            {% endif %}
                        ></div>
                        {% if email_enabled %}
                            <div class="option-input col-md-5 email-setting-input"><input type="checkbox" aria-label="Email {{option['title']}}" name="{{option['key']}}_email" id="{{option['key']}}_email"
                                {% if option['disabled'] %}
                                    disabled checked
                                {% elseif notification_saves[option['key']~"_email"] %}
                                    checked
                                {% endif %}
                            ></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}



        </div>
    </form>
    <script>
        function checkAll(button) {
            var selector = $(button).data('selector');
            $(selector).children().prop('checked',true);
            $('#form_notification_settings').trigger("change");
        }

        function unCheckAll(button) {
            var selector = $(button).data('selector');
            $(selector).children().filter(':not(:disabled)').prop('checked',false);
            $('#form_notification_settings').trigger("change");
        }

        function resetNotification(button) {
            var defaults = {{ defaults|json_encode|raw }};
            var selector = $(button).data('selector');
            if (selector === '.notification-setting-input') {
                for (d in defaults) {
                    if (defaults.hasOwnProperty(d) && !d.includes("_email")) {
                        $("input[name='" + d + "']").prop('checked',defaults[d]);
                    }
                }
            }
            else if (selector === '.email-setting-input') {
                for (d in defaults) {
                    if (defaults.hasOwnProperty(d) && d.includes("_email")) {
                        $("input[name='" + d + "']").prop('checked',defaults[d]);
                    }
                }
            }
            $('#form_notification_settings').trigger("change");
        }



        $('#form_notification_settings').on("change",function(e) {
            var f = $(this);
            var url = f.attr('action');
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: f.serialize(),
                url: url,
                success: function(data) {
                    try {
                        var json = JSON.parse(data);
                        if(json['status'] == 'fail') {
                            displayErrorMessage(json['message']);
                        }
                        else {
                            displaySuccessMessage(json['data']);
                        }
                    } catch(err) {
                        displayErrorMessage('Error parsing data. Please try again.');
                    }
                    $('#notification-settings').css('display', 'none');
                }
            });
        });
    </script>
</div>
